<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div ng-controller="MainController">
          <div class="col-md-6">
            <h1>MadLibs</h1>
            <h3>Please fill out the following:</h3>
            <form>
              <div class="form-group">
                <label>Boy's Name</label>
                <input type="text" ng-model="boyName" placeholder="Enter a boy's name..">
              </div>
              <div class="form-group">
                <label>Adjective</label>
                <input type="text" ng-model="adjective" placeholder="Enter an adjective..">
              </div>
              <div class="form-group">
                <label>Plural noun</label>
                <input type="text" ng-model="pluralNoun" placeholder="Enter a plural noun..">
              </div>
              <div class="form-group">
                <label>An insect, plural</label>
                <input type="text" ng-model="insect" placeholder="Enter an insect, plural..">
              </div>
              <div class="form-group">
                <label>Plural noun</label>
                <input type="text" ng-model="pNoun" placeholder="Enter a plural noun..">
              </div>
              <div class="form-group">
                <label>A verb ending in "s"</label>
                <input type="text" ng-model="verb" placeholder="Enter a verb ending in..">
              </div>
              <button class="btn btn-lg btn-warning">Generate!</button>
            </form>
          </div>

          <div class="col-md-6">
            <h1>Mad with the Libs</h1>
              <p>I'm in love with <strong>{{boyName | uppercase}}</strong>. He's so <strong>{{adjective | uppercase}}</strong>! He has big flat <strong>{{pluralNoun | uppercase}}</strong>, and when our <strong>{{insect | uppercase}}</strong> meet, I get <strong>{{pNoun | uppercase}}</strong> in my stomach. I've fallen for him like a ton of <strong>{{verb | uppercase}}</strong>, and he shuffles for me too. But I think he's got another girlfriend. What should I do?</p>
              <button class="btn btn-lg btn-warning" ng-click="madlibs = ''">Play Again?</button>
          </div>
        </div> <!-- close controller -->
      </div><!--  close row -->
    </div> <!-- close container -->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
